<div class="filter-select">
	<select [(ngModel)]="selectedRegion" (change)="languageToSearch = ''">
		<option value="none" disabled>Filter language by region</option>
		<option value="africa">Africa</option>
		<option value="europe">Europe</option>
		<option value="asia">Asia</option>
	</select>
</div>
<div class="filter-span">
	<span class="label" [innerHTML]="'or'"></span>
</div>
<div class="filter-input">
	<input
		placeholder="Search language by name"
		(focus)="selectedRegion = 'none'"
		[(ngModel)]="languageToSearch"
	/>
</div>
<div class="filter-button">
	<button
		mat-flat-button
		color="accent"
		class="next"
		(click)="searchLanguage()"
	>
		<span [innerHTML]="'Search for language'"></span>
	</button>
</div>
