<div class="filter-select">
	<select [(value)]="selectedRegion">
		<option value="none" disabled>Filter language by region</option>
		<option value="option1">Africa</option>
		<option value="option2">Europe</option>
		<option value="option3">Asia</option>
	</select>
</div>
<div class="filter-span">
	<span class="label" [innerHTML]="'or'"></span>
</div>
<div class="filter-input">
	<input placeholder="Search language by name" [(value)]="languageToSearch" />
</div>
<div class="filter-button">
	<button
		mat-flat-button
		color="accent"
		class="next"
		(click)="searchLanguage()"
	>
		<span [innerHTML]="'Search for language'"></span>
	</button>
</div>
